#HELLO WORLD

zulfakriza@itb.ac.id

Pada bagian ini diperkenalkan:
1- Aturan syntax yang digunakan pada bahasa Pyhton
2- Tipe data dan merubah tipe data pada bahasa Python
3- Aritmatika sederhana pada bahasa Python
4- List dan Tuple pada bahasa Python
5- Loop pada bahasa Python

In [ ]:
print('Hello World')

In [ ]:
print('Python untuk Seismologi')

In [ ]:
a = 'Python untuk Seismologi'

print(a)

In [ ]:
type(a)

In [ ]:
a = 'item_1 +\
        item_2 +\
        item_3' 

print(a)

In [ ]:
hari = ['Senin', 'Selasa', 'Rabu', 'Kamis',
       'Jumat', 'Sabtu', 'Minggu']

print(hari)

In [ ]:
pelatihan = 'Pengantar Bahasa Python'
Penyelenggara = "Pusat Gempabumi dan Tsunami BMKG "

print(pelatihan)
print(Penyelenggara)

#01_Memahami tipe data pada Python

In [ ]:
data_integer = 20

print ('data :', data_integer, 'memiliki tipe: ', type(data_integer))

In [ ]:
data  = 'seismologi'

print ('data :', data, 'memiliki tipe: ', type(data))

In [ ]:
data = 5.7 
print ('data :', data, 'memiliki tipe: ', type(data))

In [ ]:
data = True
print ('data :', data, 'memiliki tipe: ', type(data))

In [ ]:
data = complex(3,10)
print ('data :', data, 'memiliki tipe: ', type(data))

#02_Merubah tipe data

In [ ]:
#casting tipe data
#merubah dari satu tipe data ke tipe data yang lain
#Tipe data int, float, str, bool

data_int = 9
print ('data : ', data_int, 'memiliki tipe: ', type(data_int))

In [ ]:
data_int = 9
print ('data : ', data_int, 'memiliki tipe: ', type(data_int))

data_float = float(data_int)
data_str = str(data_int)

print('data : ', data_float, 'memiliki tipe: ', type(data_float))
print('data : ', data_str, 'memiliki tipe: ', type(data_str))

#03 Aritmatika

In [ ]:
a = 2
b = 4

c = a ** b
print(c)

#04 Konversi temperatur

In [ ]:
#Konversi Nilai Temperatur

C = float(input('Masukkan nilai suhu dalam derajat celcius :'))

print('suhu adalah', C, 'Celcius')

In [ ]:
R = (4/5) + C

print('suhu adalah', R, 'Reamor')

#05 List

In [ ]:
#list
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(a)
type(a)

In [ ]:
#tuple
b = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(b)
type(b)

In [ ]:
#multitype
c = [1, 2, 3, 4, 5, 6.2, 7, 'delapan', 9, 10]

print(c)

In [ ]:
#akses data dalam list
c = (1, 2, 3, 4, 5, 6.2, 7, 'delapan', 9, 10)

data = c[4]
print(data)

In [ ]:
#merubah elemen data dalam list
d = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#d[4] = 10

f = 2 * d

print(f)

#06 loop

In [ ]:
#loop
d = ['Hallo', 'Sapaan']
for i in d:
    print(i)
    print(len(i))

In [ ]:
#List sebagai iterable
e = [1, 4, 7, 10, 100, 1000]
for i in e:
    print (i)

In [ ]:
#for dalam for
num1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num2 = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
num3 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

list_num = [num1, num2, num3]
for sub_num in list_num:
    print(sub_num)
    for comp in sub_num:
        print(comp)

In [ ]:
#range
for i in range(0,10):
    print(i)

In [ ]:
#range
for i in range(0,10,2):
    print(i)

# NUMPY